@import url(https://fonts.googleapis.com/css?family=Passions+Conflict:regular);

section {
  padding: 50px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

header {
  background: #445162;
  padding: 50px;
  color: #fff;
  font-family: Arial;
}

header h1 {
  font-size: 60px;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper__list {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 100;
}

.wrapper__list li::before {
  content: url("../img/icon.png");
  margin: 0 10px 0 0;
}

footer {
  background-color: #f5f5f5;
  font-size: 14px;
  color: #445162;
  line-height: 65px;
  text-align: center;
}

section.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.first__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
}

.first__content .first__h1 {
  font-size: 30px;
  color: #445161;
  line-height: 36px;
}

.first__content .first__text {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  max-width: 640px;
  margin: 25px 0 0 0;
}

section.second {
  background-color: #f5f5f5;
}

section.second h1 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #445161;
  font-size: 30px;
  line-height: 36px;
}

section.second .second__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
}

section.second .second__container .second__item {
  padding: 8px;
  margin: 30px 0 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.second .second__container .second__item .second__item-img {
  margin: 0 15px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

section.second .second__container .second__item .second__item-text .second__item-title {
  font-size: 24px;
  line-height: 30px;
  color: #445161;
}

section.second .second__container .second__item .second__item-text .second__item_text {
  font-size: 16px;
  line-height: 24px;
}

.thirdSection {
  text-align: center;
}

.thirdSection > h1 {
  color: #445161;
  font-size: 30px;
  margin: 0 0 30px 0;
}

.thirdSection__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 990px;
  margin: 0px auto;
  padding: 0 -23.5px;
}

.thirdSection__item {
  background-color: #445162;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  border: 2px solid #445161;
  border-radius: 5px;
  margin: 0 23.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thirdSection__title {
  font-size: 24px;
  line-height: 50px;
  color: #fff;
}

.thirdSection__subtitle {
  line-height: 64px;
  font-size: 40px;
  background-color: #fff;
  color: #445161;
}

.thirdSection__content {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin: 0 30px 0 20px;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.thirdSection__btn {
  background-color: #fff;
  color: #445161;
  cursor: pointer;
  margin: 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  font-size: 18px;
}